
/* /////////////////////////// navbar //////////////////////////////// */

.navbar {
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 180px;
    background-color: #363537;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2) , 0px 0px 10px rgba(0,0,0,0.2);  
    text-decoration: none;
}
.navbar a {
    text-decoration: none;
}
.pop-Msearch {
    opacity: 0;
    visibility: hidden;
    transition: 1s ease;
}
.nav-top {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-top input {
    width: 65%;
    padding: 15px 10px;
    direction: rtl;
    border-radius: 5px;
    position: relative;
    top: 15px;
    border: none;
    outline: none;
    z-index: 3;
}
.in-con {
    width: 32%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.log-con {
    width: 32%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: left;
    justify-content: center;
}
.art-con {
    width: 32%;
    height: 80%;
    position: relative;
    top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.art-con img{
   width:85px;
   height: 85px;
   border-radius: 50%;
}
.log-con img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    top: 1%;
    margin-left: 25%;
    cursor: pointer;
}
.log-con a {
    margin-left: 17%;
    color: white;
    position: relative;
    top: 21%;
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
}
.nav-bot {
    width: 100%;
    height: 32%;
    display: flex;
    align-items: center;
    direction: rtl;
}
.nav-bot ul  {
    margin: 10px;
    display: flex;
    cursor: pointer;
    list-style: none;
    margin-right: 35px;
    position: relative;
    right:25px;
    direction: rtl;
}
.nav-bot ul li {
    color: white;
    list-style: none;
    margin: 0 23px;
}
.nav-bot a {
    color: white;
}
.nav-bot a:hover {
    color: gold;
}
.pop-search {
    width: 40%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    position: absolute;
    border-radius: 10px;
    left: 30%;
    margin-top: -50px;
    z-index: 6;
}
.pop-search a {
    width: 27%;
    height: 60%;
    text-decoration: none;
    color: black;
    font-size: 14px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2) , 0px 0px 10px rgba(0,0,0,0.2);  
    border-radius: 10px;
}
.search-card {
    width:100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.pop-search h4 {
    position: absolute;
    right: 15px;
    top: -5px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: turquoise;
    color: white;
}
.humburger {
    display: none;
}
#search {
    display: none;
}

.nav-right {
    display: none;
}
@media(min-width:1px) and (max-width:700px){
    .nav-bot {
        display: none;
    }
    .art-con {
        display: none;
    }
    .log-con {
        display: none;
    }
    .in-con {
        display: none;
    }
    .navbar {
        height: 145px;
    }
    .humburger {
        width: 40px;
        cursor: pointer;
        height: 40px;
        position: absolute;
        top: 40%;
        right: 8%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .hum-1 {
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background-color: white;
    }
    .nav-right {
        right: 20px;
        height: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-right img {
        position: absolute;
        left:43%;
        border-radius: 50%;
        width: 80px;
        top:20%;
    }
    .nav-right h2 {
        position: relative;
        top: -55px;
        color: white;
    }
    #search {
        display: block;
        position: absolute;
        width: 40px;
        top: 40%;
        height: 40px;
        left: 10%;
        cursor: pointer;
    }
    .pop-Msearch {
        visibility: visible;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        opacity: 1;
        transition: 1s ease;
        position: fixed;
        background-color: white;
        z-index: 20;
        top: 20%;
        width:420px;
        border-radius: 10px;
        height: 450px;
    }
    .pop-Msearch input {
     outline: none;
     width: 80%;
     border-radius: 5px;
     direction: rtl;
     height: 30px;
     margin-top: 50px;
     z-index: 10;
 }
 .pop-Msearch a {
     color: white;
 }
    .pop-Msearch select {
        width: 90%;
        font-size: 13px;
        opacity: 0.8;
        direction: rtl;
        height: 30px;
        border-radius: 5px;
        border:1 solid black;
    }

    .result {
        width: 95%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height:60%;
        position: absolute;
        top: 21%;
        flex-wrap: wrap;
    }
    .result img {
        width: 150px;
        height: 150px;
        position: relative;
        border-radius: 5px;
    }
    #iamge {
        position: relative;
        left:0%;
        top: 0%;
        width: 100%;
        height: 100%;
    }
    .search-component{
        display: none;
    }
}
@media(min-width:701px) and (max-width:1100px){

    .nav-bot ul li {
        font-size: 13px;
        margin:0px 10px;
    }
    .nav-bot ul {
        right: -40px;
    }
    .nav-top input {
        position: relative;
        right: 27px;
        width: 80%;
    }
.log-con img {
    left: 0px;
    padding: 0;
}

    
}

/* ////////////////// Slide ////////////////// */
.slide {
    position: fixed;
    background-color: royalblue;
    width: 65%;
    height: 100%;
    z-index:5;
    top: 0;
    right: 0;
    border-left: 10px solid white;
    transform: translateX(100%);
    visibility: hidden;
    transition: 0.8s ease;
}
.open-slide {
    position: fixed;
    transition: 0.8s ease;
    background-color: royalblue;
    width: 65%;
    height: 100%;
    z-index:10;
    right: 0;
    border-left: 10px solid white;
    transform: translateX(0%);
    visibility: visible;
}
.slide h1{
    color: white;
    position: absolute;
    right: 35px;
    top: -20px;
    font-size: 50px;
    cursor: pointer;
}
.slide img {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: 10px;
    top: 10px;
}
.slide .drop{
    width: 100%;
    border-bottom: 2px solid white;
    position: relative;
    top: 20%;
    direction: rtl;
    cursor: pointer;
    text-align: right;
    
}
 .list {
    list-style: none;
    cursor: pointer;
    background-color: #f9da3a;
    position: relative;
    top: 10px;
    padding: 10px;
    height: 0px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    visibility: hidden;  
}
.open-slider {
    list-style: none;
    cursor: pointer;
    background-color: #f9da3a;
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
    visibility: visible;  
}
.drop p {
    color: white;
}
.drop a {
    color: black;
    text-decoration: none;
}